.navbar {
    background-color: black;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
list-style: none;
    padding: 0 10%;
}

.logo-image {
    width: 40px;
}

.rightSide  {
    color: white;
    padding-left: 70%;
    gap: 15px;
    display: flex;
    list-style: none;
}
.rightSide a{
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }
  